
<div class="overlay" *ngIf="loading">
    <div class="dark"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
</div>
<section class="content" style="padding-left: 15px;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-block btn-sm" (click)="mostrarModalNuevo(modalNuevo)"><i class="fa fa-plus-circle"></i> Nuevo usuario</button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Empresa</th>
                        <th>Rol</th>
                        <th>Estatus</th>
                        <th style="width: 20%;">Acciones</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let users of dataUser">
                      <tr>
                        <td>{{ users.id }}</td>
                        <td>{{ users.name }}</td>
                        <td>{{ users.email }}</td>
                        <td *ngIf="users.empresa.length">
                          {{users.empresa[0].nombre}}</td>
                        <td *ngIf="!users.empresa.length ">
                          Sin asginar
                        </td>  
                        <!-- <td *ngFor="let comp of users.empresa">
                          {{comp.nombre}}
                        </td> -->
                        <td>{{ users.role }}</td>
                        <td *ngIf="users.status == '1'" >Activo</td>
                        <td *ngIf="users.status != '1'" >Inactivo</td>
                        <td class="project-actions">
                          <div class="btn-group btn-group-sm">
                            <a (click)="mostrarModalAsignarEmpresa(modalAsignarEmpresa, users)" class="btn btn-secondary" ngbTooltip="Asignar a empresa"><i class="fas fa fa-id-badge"></i></a>
                            <a (click)="mostrarModalAsignarRol(modalAsignarRol, users.id, users.status)" class="btn btn-primary" ngbTooltip="Asignar Rol"><i class="fas fa fa-link"></i></a>
                            <a (click)="mostrarModalEditar(modalEditar, users)" class="btn btn-info" ngbTooltip="Modificar"><i class="fas fa-pencil-alt"></i></a> 
                            <a (click)="mostrarModalCambiarPassword(modalCambiarPassword,users.id)" class="btn btn-danger" ngbTooltip="Cambiar contraseña"><i class="fas fa-unlock"></i></a>
                            <div class="btn btn-light" ngbTooltip="Activar / Desactivar usuario">
                              <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" #inputChek id="customSwitch{{users.id}}" [checked]="true" 
                                (click)="mostrarModalActivarUsuario(modalActivarUsuario, users)" *ngIf="users.status == '1'" (change)="inputChek.checked = !inputChek.checked" >
                                <input type="checkbox" class="custom-control-input" #inputChekout id="customSwitch{{users.id}}" [checked]="false" 
                                (click)="mostrarModalActivarUsuario(modalActivarUsuario, users)" *ngIf="users.status != '1'" (change)="inputChekout.checked = !inputChekout.checked">
                                <label class="custom-control-label" for="customSwitch{{users.id}}"></label>
                              </div>
                            </div>
                            
                          </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
        </div>
    </div>
</section>
<!-- Modal agregar nuevo -->
<ng-template #modalNuevo let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="">Nuevo Usuario</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <!-- form start -->
      <form [formGroup]="registerForm" (ngSubmit)="guardarUsuario()">
          <div class="card-body">
            <div class="form-group">
              <label for="">Nombre</label>
              <input type="text" class="form-control" formControlName="userName"  placeholder="Nombre" required [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }">
              <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
                <div *ngIf="f['userName'].errors['required']">Nombre es obligatorio</div>
              </div> 
            </div>
            <div class="form-group">
              <label for="">Correo</label>
              <input type="email" class="form-control"  placeholder="Correo" formControlName="email" 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              >
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Correo obligatorio</div>
                <div *ngIf="f['email'].errors['email']">El formato del correo es incorrecto</div>
              </div>
            </div>
            <div class="form-group">
              <label >Contraseña</label>
              <input type="password" class="form-control"  placeholder="Contraseña" formControlName="password" required
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Contraseña obligatoria</div>
                <div *ngIf="f['password'].errors['minlength']">
                  Contraseña debe contener un mínimo de 5 caracteres
                </div>
                <div *ngIf="f['password'].errors['maxlength']">
                  Contraseña debe contener un máximo de 8 caracteres
                </div>
              </div>
            </div>
            <div class="form-group">
              <label >Confirmar contraseña</label>
              <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmar contraseña" required
              [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
              <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">
                  Confirmar contraseña es obligatorio
                </div>
                <div *ngIf="f['confirmPassword'].errors['matching']">
                  La contraseña con coincide
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
            <button type="submit" (click)="guardarUsuario()" class="btn btn-primary">Guardar</button>
          </div>
         </form>
    </div>
    
  </div>
</ng-template>

<!-- Modal editar -->
<ng-template #modalEditar let-modal >
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <!-- form start -->
      <form [formGroup]="updateForm" (ngSubmit)="ModificarUsuario()">
        <input type="hidden" [value]="usersModel.id">
          <div class="card-body">
            <div class="form-group">
              <label for="">Nombre</label>
              <input type="text" class="form-control"  formControlName="nameUpdate" placeholder="Nombre" name="name" 
               required [ngClass]="{ 'is-invalid': submittedUpdate && getControl['nameUpdate'].errors }" >
               <div *ngIf="submittedUpdate && getControl['nameUpdate'].errors" class="invalid-feedback">
                <div *ngIf="getControl['nameUpdate'].errors['required']">El nombre de usuario no puede ser vacío</div>
              </div> 
            </div>
            <div class="form-group">
              <label for="">Correo</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Correo" name="email"   
              required [ngClass]="{ 'is-invalid': submittedUpdate && getControl['email'].errors }"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >
              <div *ngIf="submittedUpdate && getControl['email'].errors" class="invalid-feedback">
                <div *ngIf="getControl['email'].errors['required']">El correo no puede ser vacío</div>
                <div *ngIf="getControl['email'].errors['email']">El formato del correo es incorrecto</div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
            <button type="submit"  class="btn btn-primary">Guardar</button>
          </div>
      </form>
    </div>
    
  </div>
</ng-template>

<!-- The Modal Asignar Rol-->
<ng-template #modalAsignarRol let-modal>
  <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title" id="">Asignar rol</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
    <div class="modal-body">
      <!-- form start -->
          <div class="card-body">
            <form >
                <div class="card-body">
                  <div class="form-group">
                    <label>Seleccione un rol</label>
                    <select class="form-select" [(ngModel)]="selected" (change)="changeRoles()" name="selected" [disabled]="selectRolDisable">
                      <option selected disabled value="null" [selected]="true" >Selecciona una opción</option>
                      <option [ngValue]="roles" *ngFor="let roles of dataRoles" >{{roles.code + ": " + roles.descripcion}}</option>
                    </select>
                  </div>
                  <div *ngIf="validateRol" class="alert alert-danger" role="alert">
                    Seleccione un rol
                  </div>
                </div>
            </form>
          </div>
          <!-- /.card-body -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
      <button type="button" (click)="cambiarRole()"  class="btn btn-primary">Asignar rol a usuario</button>
    </div>
  </div>
</ng-template>

<!-- The Modal Activar/Desactivar usuario-->
<ng-template #modalActivarUsuario let-modal>
  <div class="modal-content">
    <!-- <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body">
      <!-- form start -->
          <div class="card-body">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <a class="btn btn-warning">
                    <i class="fa fa-exclamation fa-3x" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <input type="hidden" [value]="usersModel.id">
                  <h5><b>{{mensajeActivarDesactivarUsuario}}
                  </b></h5>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
      <button type="button" (click)="ActivarDesactivarUsuario()"  class="btn btn-primary">{{textoBotonActivarDes}}</button>
    </div>
  </div>
</ng-template>
  
<!-- The Modal Asignar Empresa-->
<ng-template #modalAsignarEmpresa let-modal>
  <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title" id="">Asignar usuario a empresa</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
    <div class="modal-body">
      <!-- form start -->
          <div class="card-body">
            <form [formGroup]="asignarEmpresaForm">
                <div class="card-body">
                  <div class="form-group">
                    <label>Seleccione una empresa</label>
                    <select class="form-select" formControlName="company"  name="company" 
                    [ngClass]="{ 'is-invalid': submittedSelectCompany && getSelectCompany['company'].errors }" required >
                      <option value="null" >Selecciona una opción</option>
                      <option [ngValue]="company.id" *ngFor="let company of dtCompanies" >{{company.nombre}}</option>
                    </select>
                    <div *ngIf="submittedSelectCompany && getSelectCompany['company'].errors" class="invalid-feedback">
                      <div >Seleccione una empresa</div>
                    </div>
                    <div *ngIf="validateCopany" class="alert alert-danger" role="alert">
                      La empresa esta inactiva o eliminada
                    </div>
                  </div>
                </div>
            </form>
          </div>
          <!-- /.card-body -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
      <button type="button" (click)="asignarEmpresa()"  class="btn btn-primary">Asignar usuario a empresa</button>
    </div>
  </div>
</ng-template>

<!-- The Modal Asignar Empresa-->
<ng-template #modalCambiarPassword let-modal>
  <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title" id="">Cambiar contraseña</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
    <div class="modal-body">
      <!-- form start -->
          <div class="card-body">
            <form [formGroup]="modificarPasswordForm">
                <div class="card-body">
                  <div class="form-group">
                    <input type="hidden" formControlName="id">
                    <label >Nueva contraseña</label>
                    <input type="password" class="form-control"  placeholder="Contraseña" formControlName="newPassword" required
                    [ngClass]="{ 'is-invalid': submittedNewPassword && getControlNewPassword['newPassword'].errors }">
                    <div *ngIf="submittedNewPassword && getControlNewPassword['newPassword'].errors" class="invalid-feedback">
                      <div *ngIf="getControlNewPassword['newPassword'].errors['required']">Contraseña obligatoria</div>
                      <div *ngIf="getControlNewPassword['newPassword'].errors['minlength']">
                        Contraseña debe contener un mínimo de 5 caracteres
                      </div>
                      <div *ngIf="getControlNewPassword['newPassword'].errors['maxlength']">
                        Contraseña debe contener un máximo de 8 caracteres
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label >Confirmar nueva contraseña</label>
                    <input type="password" class="form-control" formControlName="confirmNewPassword" placeholder="Confirmar contraseña" required
                    [ngClass]="{ 'is-invalid': submittedNewPassword && getControlNewPassword['confirmNewPassword'].errors }">
                    <div *ngIf="submittedNewPassword && getControlNewPassword['confirmNewPassword'].errors" class="invalid-feedback">
                      <div *ngIf="getControlNewPassword['confirmNewPassword'].errors['required']">
                        Confirmar contraseña es obligatorio
                      </div>
                      <div *ngIf="getControlNewPassword['confirmNewPassword'].errors['matching']">
                        La contraseña con coincide
                      </div>
                    </div>
                  </div>
                </div>
            </form>
          </div>
          <!-- /.card-body -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
      <button type="button" (click)="modificarPassword()" class="btn btn-primary">Guardar Nueva contraseña</button>
    </div>
  </div>
</ng-template>